Repository Lucky-Vicky-PetHarmony/Frontend, pull requests merged in 2024-08, with the labels that each got.

#12 게시판 기능 구현 (등록, 수정, 리스트 필터링, 삭제)
  petharmony/src/App.js
  petharmony/src/board/asset/X.png
  petharmony/src/board/component/BoardPost/BoardPost.jsx
  petharmony/src/board/component/BoardPost/BoardPostCategory.jsx
  petharmony/src/board/component/BoardPost/BoardPostContent.jsx
  petharmony/src/board/component/BoardPost/BoardPostFile.jsx
  petharmony/src/board/component/boardList/BoardFilter.jsx
  petharmony/src/board/component/boardList/BoardList.jsx
  petharmony/src/board/component/boardList/BoardListElem.jsx
  petharmony/src/board/component/boardList/BoardPagination.jsx
  petharmony/src/board/component/boardList/BoardSelectBtn.jsx
  petharmony/src/board/component/boardList/BoardWriteBtn.jsx
  petharmony/src/board/component/boardView/BoardComment.jsx
  petharmony/src/board/component/boardView/BoardCommentInput.jsx
  petharmony/src/board/component/boardView/BoardContent.jsx
  petharmony/src/board/component/boardView/BoardView.jsx
  petharmony/src/board/style/boardList/BoardListElem.css
  petharmony/src/board/style/boardList/BoardSelectBtn.css
  petharmony/src/board/style/boardPost/BoardPostFile.css
  petharmony/src/board/style/boardView/BoardContent.css
  petharmony/src/index.js
Labels: 💡 feat, 🐥 chore, 🌈 refactor

#13 feat: 게시물 검색기능
  petharmony/src/board/asset/refresh.png
  petharmony/src/board/component/boardList/BoardFilter.jsx
  petharmony/src/board/component/boardList/BoardList.jsx
  petharmony/src/board/component/boardList/BoardSearch.jsx
  petharmony/src/board/component/boardList/BoardSelectBtn.jsx
  petharmony/src/board/style/boardList/BoardFilter.css
  petharmony/src/board/style/boardList/BoardSearch.css
Labels: 💡 feat

#15 마이페이지 퍼블리싱
  petharmony/src/App.js
  petharmony/src/common/form/components/InputField.jsx
  petharmony/src/common/form/styles/InputField.css
  petharmony/src/common/pet/assets/ageIcon.png
  petharmony/src/common/pet/assets/kindIcon.png
  petharmony/src/common/pet/assets/likeBtn.png
  petharmony/src/common/pet/assets/locationIcon.png
  petharmony/src/common/pet/assets/noLikeBtn.png
  petharmony/src/common/pet/assets/sexIcon.png
  petharmony/src/common/pet/assets/statusIcon.png
  petharmony/src/common/pet/assets/temp.png
  petharmony/src/common/pet/assets/weightIcon.png
  petharmony/src/common/pet/components/PetCard.jsx
  petharmony/src/common/pet/styles/PetCard.css
  petharmony/src/mypage/assets/edit_emailIcon.png
  petharmony/src/mypage/assets/edit_nameIcon.png
  petharmony/src/mypage/assets/edit_phoneIcon.png
  petharmony/src/mypage/assets/emailIcon.png
  petharmony/src/mypage/assets/nameIcon.png
  petharmony/src/mypage/assets/newPasswordIcon.png
  petharmony/src/mypage/assets/phoneIcon.png
  petharmony/src/mypage/assets/prePasswordIcon.png
  petharmony/src/mypage/components/MyPage.jsx
  petharmony/src/mypage/components/dashboard/DeleteAccount.jsx
  petharmony/src/mypage/components/dashboard/InterestedPets.jsx
  petharmony/src/mypage/components/dashboard/MyComments.jsx
  petharmony/src/mypage/components/dashboard/MyPosts.jsx
  petharmony/src/mypage/components/dashboard/PasswordEdit.jsx
  petharmony/src/mypage/components/dashboard/PinPosts.jsx
  petharmony/src/mypage/components/dashboard/ProfileEdit.jsx
  petharmony/src/mypage/components/nav/SideBar.jsx
  petharmony/src/mypage/components/profile/MyProfile.jsx
  petharmony/src/mypage/styles/MyPage.css
  petharmony/src/mypage/styles/dashboard/DeleteAccount.css
  petharmony/src/mypage/styles/dashboard/InterestedPets.css
  petharmony/src/mypage/styles/dashboard/MyComments.css
  petharmony/src/mypage/styles/dashboard/MyEdit.css
  petharmony/src/mypage/styles/dashboard/MyPosts.css
  petharmony/src/mypage/styles/dashboard/PinPosts.css
  petharmony/src/mypage/styles/nav/SideBar.css
  petharmony/src/mypage/styles/profile/MyProfile.css
Labels: 💡 feat, 🎨 style

#16 HEADER
  petharmony/src/ adoption/components/Adoption.jsx
  petharmony/src/App.js
  petharmony/src/common.css
  petharmony/src/layout/Layout.jsx
  petharmony/src/layout/header/assets/arrow.png
  petharmony/src/layout/header/assets/headerLogo.png
  petharmony/src/layout/header/components/Header.jsx
  petharmony/src/layout/header/styles/Header.css
  petharmony/src/main/components/Main.jsx
  petharmony/src/matching/components/Matching.jsx
Labels: 💡 feat, 🎨 style

#18 Zustand와 localStorage를 사용하여 사용자 인증
  petharmony/package-lock.json
  petharmony/package.json
  petharmony/src/App.js
  petharmony/src/adoption/components/Adoption.jsx
  petharmony/src/adoption/styles/Adoption.css
  petharmony/src/join/components/JoinInput.jsx
  petharmony/src/join/components/JoinModal.jsx
  petharmony/src/join/styles/JoinModal.css
  petharmony/src/layout/Layout.jsx
  petharmony/src/layout/header/components/Header.jsx
  petharmony/src/layout/header/styles/Header.css
  petharmony/src/login/components/LoginInput.jsx
  petharmony/src/login/components/LoginModal.jsx
  petharmony/src/login/components/find/FindAccount.jsx
  petharmony/src/login/styles/LoginModal.css
  petharmony/src/login/styles/find/FindAccount.css
  petharmony/src/main/components/Main.jsx
  petharmony/src/main/styles/Main.css
  petharmony/src/matching/components/Matching.jsx
  petharmony/src/matching/styles/Matching.css
  petharmony/src/mypage/components/MyPage.jsx
  petharmony/src/mypage/components/dashboard/DeleteAccount.jsx
  petharmony/src/mypage/components/dashboard/InterestedPets.jsx
  petharmony/src/mypage/components/dashboard/MyComments.jsx
  petharmony/src/mypage/components/dashboard/MyPosts.jsx
  petharmony/src/mypage/components/dashboard/PasswordEdit.jsx
  petharmony/src/mypage/components/dashboard/PinPosts.jsx
  petharmony/src/mypage/components/dashboard/ProfileEdit.jsx
  petharmony/src/mypage/components/nav/SideBar.jsx
  petharmony/src/mypage/components/profile/MyProfile.jsx
  petharmony/src/mypage/styles/MyPage.css
  petharmony/src/store/useAuthStore.js
  petharmony/yarn.lock
Labels: 💡 feat, 🛠️ fix, 🏗️ build, 🐥 chore, 🎨 style

#19 Zustand를 사용하여 파일을 모달로 수정
  petharmony/src/App.js
  petharmony/src/common/button/components/CancelButton.jsx
  petharmony/src/join/components/JoinModal.jsx
  petharmony/src/join/styles/JoinModal.css
  petharmony/src/layout/header/components/Header.jsx
  petharmony/src/layout/header/styles/Header.css
  petharmony/src/login/components/LoginModal.jsx
  petharmony/src/login/components/find/FindAccount.jsx
  petharmony/src/login/styles/LoginModal.css
  petharmony/src/login/styles/find/FindAccount.css
  petharmony/src/store/useModalStore.js
Labels: 💡 feat, 🛠️ fix, 🎨 style, 🌈 refactor

#20 카카오 로그인 유지
  petharmony/src/layout/header/components/Header.jsx
  petharmony/src/layout/header/styles/Header.css
  petharmony/src/login/components/LoginModal.jsx
  petharmony/src/login/components/Oauth.jsx
Labels: 🛠️ fix, 🐥 chore, 🎨 style

#21 feat: 게시물 및 댓글 신고 기능 구현
  petharmony/src/board/asset/redlight.png
  petharmony/src/board/component/ReportPostModal.jsx
  petharmony/src/board/component/boardView/BoardComment.jsx
  petharmony/src/board/component/boardView/BoardContent.jsx
  petharmony/src/board/component/boardView/BoardView.jsx
  petharmony/src/board/style/ReportPostModal.css
  petharmony/src/board/style/boardView/BoardContent.css
  petharmony/src/board/style/boardView/BoardView.css
Labels: 💡 feat

#22 [구현중] 마이페이지
  petharmony/src/mypage/components/MyPage.jsx
  petharmony/src/mypage/components/dashboard/PasswordEdit.jsx
  petharmony/src/mypage/components/dashboard/PinPosts.jsx
  petharmony/src/mypage/components/dashboard/ProfileEdit.jsx
  petharmony/src/mypage/components/nav/SideBar.jsx
  petharmony/src/mypage/components/profile/MyProfile.jsx
  petharmony/src/store/useAuthStore.js
Labels: 💡 feat, 🛠️ fix

#24 마이페이지
  petharmony/src/board/components/boardList/BoardListElem.jsx
  petharmony/src/mypage/assets/reply.png
  petharmony/src/mypage/components/MyPage.jsx
  petharmony/src/mypage/components/dashboard/MyComments.jsx
  petharmony/src/mypage/components/dashboard/MyPosts.jsx
  petharmony/src/mypage/components/dashboard/PinPosts.jsx
  petharmony/src/mypage/components/dashboard/commentList/MyCommentList.jsx
  petharmony/src/mypage/styles/dashboard/InterestedPets.css
  petharmony/src/mypage/styles/dashboard/MyComments.css
  petharmony/src/mypage/styles/dashboard/MyPosts.css
  petharmony/src/mypage/styles/dashboard/PinPosts.css
  petharmony/src/mypage/styles/dashboard/commentList/MyCommentList.css
Labels: 💡 feat, 🐥 chore, 🎨 style

#25 chore: 날짜형식수정, 신고처리상태에 따라 신고상세 ui수정
  petharmony/src/admin/components/ReportDetailModal.jsx
  petharmony/src/admin/components/ReportListElem.jsx
  petharmony/src/admin/style/ReportDetailModal.css
  petharmony/src/layout/header/components/Header.jsx
Labels: 🐥 chore

#26 chore: 탈퇴한 사용자가 작성했거나, 관리자에 의해 삭제된 댓글의 경우 신고버튼 제거
  petharmony/src/board/components/boardView/BoardComment.jsx
  petharmony/src/board/components/boardView/BoardContent.jsx
Labels: 🐥 chore

#27 게시판, 신고 디테일한 부분 수정
  petharmony/src/App.js
  petharmony/src/admin/components/ReportDetailModal.jsx
  petharmony/src/admin/components/ReportList.jsx
  petharmony/src/admin/style/ReportList.css
  petharmony/src/board/components/BoardPost/BoardPost.jsx
  petharmony/src/board/components/ReportPostModal.jsx
  petharmony/src/board/components/boardList/BoardFilter.jsx
  petharmony/src/board/components/boardList/BoardList.jsx
  petharmony/src/board/components/boardList/BoardListElem.jsx
  petharmony/src/board/components/boardView/BoardComment.jsx
  petharmony/src/board/components/boardView/BoardCommentInput.jsx
  petharmony/src/board/components/boardView/BoardContent.jsx
  petharmony/src/board/components/boardView/BoardView.jsx
  petharmony/src/board/style/boardList/BoardList.css
  petharmony/src/board/style/boardPost/BoardPost.css
  petharmony/src/board/style/boardView/BoardView.css
  petharmony/src/layout/header/components/Header.jsx
  petharmony/src/login/components/LoginModal.jsx
  petharmony/src/store/useAuthStore.js
Labels: 💡 feat, 🐥 chore, 🎨 style

#28 fix: 게시물 리스트 오류 수정
  petharmony/src/board/components/boardList/BoardList.jsx
Labels: 🛠️ fix

#29 마이페이지
  petharmony/src/layout/header/styles/Header.css
  petharmony/src/mypage/components/MyPage.jsx
  petharmony/src/mypage/components/dashboard/DeleteAccount.jsx
  petharmony/src/mypage/components/dashboard/MyComments.jsx
  petharmony/src/mypage/styles/dashboard/DeleteAccount.css
  petharmony/src/mypage/styles/profile/MyProfile.css
Labels: 💡 feat, 🐥 chore, 🎨 style

#30 메인 페이지, 푸터, 스크롤 초기화
  petharmony/src/App.js
  petharmony/src/common/button/components/LoginJoinButton.jsx
  petharmony/src/common/scroll/ScrollToTop.jsx
  petharmony/src/layout/Layout.jsx
  petharmony/src/layout/footer/assets/figma.png
  petharmony/src/layout/footer/assets/github.png
  petharmony/src/layout/footer/assets/notion.png
  petharmony/src/layout/footer/components/Footer.jsx
  petharmony/src/layout/footer/styles/Footer.css
  petharmony/src/layout/header/components/Header.jsx
  petharmony/src/layout/logo/layoutLogo.png
  petharmony/src/login/components/LoginModal.jsx
  petharmony/src/login/styles/LoginModal.css
  petharmony/src/main/assets/adoptionBtnImg.png
  petharmony/src/main/assets/mainImg.png
  petharmony/src/main/assets/mainTitle.png
  petharmony/src/main/components/Main.jsx
  petharmony/src/main/styles/Main.css
  petharmony/src/mypage/components/dashboard/ProfileEdit.jsx
  petharmony/src/mypage/styles/MyPage.css
  petharmony/src/store/useAuthStore.js
Labels: 💡 feat, 🛠️ fix, 🐥 chore

#31 입양공고 페이지 퍼블리싱
  petharmony/src/App.js
  petharmony/src/admin/components/ReportDetailModal.jsx
  petharmony/src/admin/components/ReportList.jsx
  petharmony/src/adoption/asset/Click.png
  petharmony/src/adoption/asset/all_b.png
  petharmony/src/adoption/asset/all_bl.png
  petharmony/src/adoption/asset/bannerImg.png
  petharmony/src/adoption/asset/cat_b.png
  petharmony/src/adoption/asset/cat_bl.png
  petharmony/src/adoption/asset/detailIcon/calender.png
  petharmony/src/adoption/asset/detailIcon/cat.png
  petharmony/src/adoption/asset/detailIcon/color.png
  petharmony/src/adoption/asset/detailIcon/health.png
  petharmony/src/adoption/asset/detailIcon/image.png
  petharmony/src/adoption/asset/detailIcon/info.png
  petharmony/src/adoption/asset/detailIcon/light.png
  petharmony/src/adoption/asset/detailIcon/like_A.png
  petharmony/src/adoption/asset/detailIcon/like_N.png
  petharmony/src/adoption/asset/detailIcon/location.png
  petharmony/src/adoption/asset/detailIcon/map.png
  petharmony/src/adoption/asset/detailIcon/num.png
  petharmony/src/adoption/asset/detailIcon/scale.png
  petharmony/src/adoption/asset/detailIcon/search.png
  petharmony/src/adoption/asset/detailIcon/sex.png
  petharmony/src/adoption/asset/detailIcon/shield.png
  petharmony/src/adoption/asset/dog_b.png
  petharmony/src/adoption/asset/dog_bl.png
  petharmony/src/adoption/asset/paw_b.png
  petharmony/src/adoption/asset/paw_bl.png
  petharmony/src/adoption/components/Adoption.jsx
  petharmony/src/adoption/components/AdoptionDetail.jsx
  petharmony/src/adoption/components/AdoptionDetailPet.jsx
  petharmony/src/adoption/components/AdoptionDetailShelter.jsx
  petharmony/src/adoption/components/AdoptionList.jsx
  petharmony/src/adoption/styles/Adoption.css
  petharmony/src/adoption/styles/AdoptionDetail.css
  petharmony/src/adoption/styles/AdoptionDetailPet.css
  petharmony/src/adoption/styles/AdoptionDetailShelter.css
  petharmony/src/adoption/styles/AdoptionList.css
  petharmony/src/common/pet/components/PetCard.jsx
  petharmony/src/common/pet/styles/PetCard.css
Labels: 💡 feat, 🐥 chore, 🎨 style

#35 메인페이지 Swiper 라이브러리 사용하여 슬라이드 쇼
  petharmony/src/common/button/assets/kakao_login_large_wide.png
  petharmony/src/common/button/components/CancelButton.jsx
  petharmony/src/common/button/components/LoginJoinButton.jsx
  petharmony/src/common/button/styles/LoginJoinButton.css
  petharmony/src/common/form/components/InputField.jsx
  petharmony/src/common/scroll/ScrollToTop.jsx
  petharmony/src/join/components/JoinInput.jsx
  petharmony/src/join/components/JoinModal.jsx
  petharmony/src/layout/footer/components/Footer.jsx
  petharmony/src/layout/footer/styles/Footer.css
  petharmony/src/layout/header/components/Header.jsx
  petharmony/src/login/components/LoginInput.jsx
  petharmony/src/login/components/LoginModal.jsx
  petharmony/src/login/components/Oauth.jsx
  petharmony/src/login/components/find/FindAccount.jsx
  petharmony/src/login/styles/LoginModal.css
  petharmony/src/main/assets/adoptionTitle.png
  petharmony/src/main/assets/background.png
  petharmony/src/main/assets/boardTitle.png
  petharmony/src/main/assets/mainImg.png
  petharmony/src/main/assets/mainTitle.png
  petharmony/src/main/assets/slideLoading.png
  petharmony/src/main/assets/slideTitle.png
  petharmony/src/main/components/Main.jsx
  petharmony/src/main/components/slide/SlideItem.jsx
  petharmony/src/main/components/slide/Slider.jsx
  petharmony/src/main/styles/Main.css
  petharmony/src/main/styles/slide/SlideItem.css
  petharmony/src/main/styles/slide/Slider.css
  petharmony/src/mypage/components/dashboard/DeleteAccount.jsx
  petharmony/src/mypage/components/dashboard/commentList/MyCommentList.jsx
  petharmony/src/store/useAuthStore.js
Labels: 💡 feat, 🛠️ fix, 🐥 chore, 🎨 style

#36 메인페이지 axios
  petharmony/src/App.js
  petharmony/src/common/authority/Authority.css
  petharmony/src/common/authority/Authority.jsx
  petharmony/src/common/authority/ProtectedRoute.js
  petharmony/src/common/pet/styles/PetCard.css
  petharmony/src/layout/header/components/Header.jsx
  petharmony/src/layout/header/styles/Header.css
  petharmony/src/login/components/LoginModal.jsx
  petharmony/src/main/components/Main.jsx
  petharmony/src/main/components/PetCard.jsx
  petharmony/src/main/components/slide/Slider.jsx
  petharmony/src/main/styles/Main.css
  petharmony/src/main/styles/slide/SlideItem.css
Labels: 💡 feat, 🐥 chore, 🎨 style

#39 카카오 로그인 사용자 UI
  petharmony/src/main/components/PetCard.jsx
  petharmony/src/main/components/slide/SlideItem.jsx
  petharmony/src/main/styles/Main.css
  petharmony/src/main/styles/slide/SlideItem.css
  petharmony/src/mypage/assets/kakao.png
  petharmony/src/mypage/components/MyPage.jsx
  petharmony/src/mypage/components/dashboard/InterestedPets.jsx
  petharmony/src/mypage/components/dashboard/PasswordEdit.jsx
  petharmony/src/mypage/components/dashboard/ProfileEdit.jsx
  petharmony/src/mypage/styles/dashboard/InterestedPets.css
  petharmony/src/mypage/styles/dashboard/MyEdit.css
Labels: 💡 feat, 🐥 chore, 🎨 style

#47 style: 무한스크롤 데이터 요청시 로딩바
  petharmony/src/adoption/components/AdoptionList.jsx
  petharmony/src/adoption/styles/AdoptionList.css
Labels: 🎨 style
